name: Linting Tests

on:
  on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn lint:prettier:check

  eslint:
    name: Eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn lint:eslint:check
